!!! 5

html
  head
    title Arabic translit
    meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
    link(rel='stylesheet', href='style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js')
    script(src='app.js', charset='UTF-8')

  body
    #container
      ul.controls
        li: label
          input(type='checkbox', data-bind='value:enabled')
          | transliterate
        li: label
          input(type='checkbox', data-bind='value:quirks')
          | quirks
        li: label
          input(type='checkbox', data-bind='value: diacritics')
          | diacritics
        //- li.link: a(data-bind='event-click|stop:showHelp, text:local.help', href='#help')

      textarea#translit-edit(data-bind='translitEdit')